<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stampshub.app.stampshub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="6md5fSIFNrcpXc0ZStnJos7SW4Rnrok0Hyu7Uoes" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="BZxjWEwJogpEgnfxp6LWGIzwQYrBFzKtbszbTBM5" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectUserType"
            android:label="@string/title_activity_select_user_type" >
        </activity>
        <activity
            android:name=".BuyerRegister"
            android:label="@string/title_activity_buyer_register" >
        </activity>
        <activity
            android:name=".BusinessOwnerRegister"
            android:label="@string/title_activity_business_owner_register" >
        </activity>
        <activity
            android:name=".BuyerRegistered"
            android:label="@string/title_activity_buyer_registered" >
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password" >
        </activity>
        <activity
            android:name=".BusinessOwnerRegistered"
            android:label="@string/title_activity_business_owner_registered" >
        </activity>
    </application>

</manifest>
